<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}Home{% endblock %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Graph</title>
</head>

<body>
    <script src="js/highcharts.js"></script>
    <script src="js/highcharts-more.js"></script>
    <script src="js/exporting.js"></script>
    <script src="js/export-data.js"></script>
    <script src="js/accessibility.js"></script>

    <figure class="highcharts-figure">
        <div class="flex">
            <div class="width" id="container"></div>
            <div class="width" id="container1"></div>
        </div>
        <div class="flex">
            <div class="width" id="container2"></div>
            <div class="width" id="container3"></div>
        </div>
    </figure>
    <p class="highcharts-description">
    </p>
    <script src="js/graph.js"></script>
    <script src="js/graph1.js"></script>
    <script src="js/graph2.js"></script>
    <script src="js/graph3.js"></script>
</body>


</html>